.bg-primary {
    background-color: #238EAB !important;
}

.bg-secondary {
    background-color: #004A5E !important;
}

.bg-grey {
    background-color: #EBEBEB !important;
}

.font-primary {
    color: #3C3C3B !important;
}

.font-secondary {
    color: #666666 !important;
}

.font-white {
    color: #FFFFFF !important;
}